ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
    display: block;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
background-color: #fff;
color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
    display: flex;
}

.header-logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.header-logo {
color: #2e2f42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
        font-weight: 500;
        color: #2e2f42;;
}

.header-nav-link:hover,
.header-nav-link:focus {
     color: #404bbf;
}

.header-cont {
    margin-left: auto;
}
.header-cont-list {
    display: flex;
    gap: 40px;
}

.header-cont-link {
    font-style: normal;
    color: #434455;
}

.header-cont-link:hover,
.header-cont-link:focus {
    color: #404bbf;
}

 .solution {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: auto;
        margin-bottom: 48px;
        display: block;
}

.solution-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.solution-button:hover,
.solution-button:focus {
    background: #404bbf;
}

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px;
    padding-right: 156px;
    padding-left: 156px;
}

.feature-item {
width: calc((100% - 72px) / 4);
}

.feature-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
        text-align: center;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.footer {
    background: #2e2f42;
}

.footer-logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
        color: #f4f4fd;
}